<html>
    <head>
        <title>Nikita`s blog :)</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Nikita`s Football Blog</a></h1>
        </div>

        <div>
            <p>Дата публикации: 01.08.2022, 18:39</p>
            <h2><a href="">Мой первый пост</a></h2>
            <p>Футбол – самая популярная игра. Наверно нет ни одного мальчишки, который бы не попробовал играть в футбол.</p>
        </div>

        <div>
            <p>Дата публикации: 01.08.2022, 18:39</p>
            <h2><a href="">Мой второй пост</a></h2>
            <p>Футбол - это командный вид спорта, в котором целью является забить мяч в ворота соперника ногами или другими частями тела (кроме рук) большее количество раз, чем команда соперника. В настоящее время самый популярный и массовый вид спорта в мире</p>
        </div>
    </body>
</html>